 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@300;400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span {
  text-align: center;
  line-height: 1.25;
}

p {
  line-height: 1.5;
  font-size: 16px;
}

a {
  text-decoration: none;
}



.purple, .features__subtitle {
  color: #6415FF;
}


.container__padding {
  padding: 32px;
}

/*navigation bar*/

.container__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  width: 100%;
  max-width: 1200px;
}

.img__logo {
  width: 40px;
  height: 40 px;
  margin: 0 12px 0 0;
}

.treact {
font-size: 24px;
color: black;
font-weight: bolder;
}

.container {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav__link {
  padding: 0 0 4px;
  margin: 0 24px;
  font-size: 14px;
  color: black;
  display:flex;
  white-space: nowrap;
}


.nav__link--login {
  padding: 0 0 4px;
  margin: 0 24px 0 48px;
  font-size: 14px;
  color: black;
}

.nav__link--button {
  padding: 12px 32px;
  font-size: 14px;
  color: white;
  background-color: #6415FF;
  border-radius: 100px;
  white-space: nowrap;
}

/*landing*/

.landing {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 96px 0;
}

.landing__left {
  display:flex;
  flex-direction: column;
  width: 40%;
}

h1 {
  font-size: 42px;
}

.landing__para {
  font-size: 18px;
  margin: 32px 0;
}

.form__container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
  transition: all 800ms ease;
}

form {
  border: 2px solid lightgray;
  display: flex;
  border-radius: 20px;
  padding-left: 15px;
}

form:hover {
  border: 2px solid gray;
}

form:active,
form:focus-within {
  border: 2px solid #6415FF;
}

.input {
  border-style: none;
  padding: 20px 30px 20px 20px;
  flex-grow: 1;
  border: none;
  outline: none;
}

.input:active {
  outline: none;
}

.form__button {
  color: white;
  background-color:#6415FF;
  white-space: nowrap;
  border-radius: 10px;
  padding: 8px 4px;
  margin: 8px 8px 8px 0;
}

.customers{
  margin: 80px 0 0;
}

.customers__para {
  font-size: 12px;  
  color: lightslategray; 

}

.customers__img {
  margin: 16px 0 0;
  padding: 0 64px 0 0;
  color: lightlategray;
  width: 421.66px;
  height: 29.64px;
  display: flex;

}

.landing__right {
  width: 60%;
  display: flex;
}

.landing__img {
 max-width: 100%;
 height: auto;
 display: block;
}

/*features*/

.features__container {
  padding: 96px 0;
  margin: 0 32px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.features__subtitle {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 0;
  font-size: 24px;
}

h2 {
  font-size: 48px;
}

.hanging__indent {
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0 0;
  width: 576px;
  height: 58.5px;
  padding-left: 2em;
  text-indent: -2em;
}

.feature__container {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  padding: 32px 8px;
  width: calc(100% / 3);
  max-width: 310px; 
}

.feature__container--left {
  width: 40%;
  display:flex;
  justify-content: center;
  align-items: flex-start;
}

.feature__img {
  padding: 20px;
  width: 66px;
  height: 66px;
}

.img__icon {
  width: 24px;
  height: 24px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.span__title {
  display:flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
  font-size: 24px;
  font-width: bolder;
}

.feature__description {
  margin: 16px 0 0;
}